<%= render "shared/header" %>

<main>
  <div class="message-display">
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
          Tom
        </div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          おはよう
        </div>
      </div>
    </div>
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
          太郎
        </div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          こんばんは
        </div>
      </div>
    </div>
  </div>
  <div class="message-box">
    <%= form_with model: [@class_room, @message], local: true do |f| %>
      <%= f.text_field :content, class:"content", placeholder:"メッセージ", min:1, max: 300 %>
      <%= f.submit "送信する", class:"message-send" %>
    <% end %>
  </div>
</main>