<%= render "shared/header" %>

  <main>
    <div class="registration">
      <%= link_to '学校登録' , new_school_path, class: :reg_school %>
      <%= link_to 'クラス登録' , root_path, class: :reg_classroom %>
    </div>
  </main>

<%= render "shared/footer" %>