* {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 100px;
  background: #e1f1e7;
  display: flex;
  justify-content: space-between;
  border-bottom: double 5px #5490cc;
  position:fixed;
}

.app-name {
  font-size: 90px;
  font-family: 'Hi Melody';
  color: #eadb80;
  margin-left: 15px;
}

.right-header {
  display: flex;
  align-content: center;
  margin-right: 20px;
}

.user-nickname {
  margin-right: 20px;
  padding: auto;
  margin-top: auto;
}

.logout {
  margin: 30px auto;
  padding: 0px;
  background-color:lightcoral;
  font-size: 20px;
  font-weight: bold;
}

.logout:active {
  top: 4px;
  text-shadow: none;
}

.logout:hover{
  background-color:rgb(240, 155, 155);
}

.login {
  text-align: center;
  margin-right: 10px;
  margin-top: auto;

}

.sign-up {
  text-align: center;
  margin-right: 10px;
  margin-top: auto;
}

.time {
  margin-top: auto;
  margin-right: 5px;
}