<header>
  <div class="left_header">
    <div class="app_name">Clafu</div>
  </div>
  <div class="right_header">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, root_path, class: :user_nickname %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: :logout %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: :login %>
      <%= link_to '新しく登録', new_user_registration_path, class: :sign_up %>
    <% end %>
  </div>
</header>