<%= render "shared/header" %>
  <main>
    <div class="post-btn">
      <%= link_to '投稿する', new_class_room_post_path(current_user.class_room.id) %>
    </div>
    <div class="post-display">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </main>