.class-room-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.class-g-n {
  display: flex;
}

.grade, .class-number {
  width: 90px;
}

.grade {
  margin-right: 20px;
}

.class-goals {
  margin: 20px 0;
}

.menu-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-list {
  margin: 30px auto;
  /* border: black 3px solid; */
  padding: 0px;
  background-color: #cfdd8e;
  font-size: 20px;
  font-weight: bold;
}
.menu-name {
  display: block;
  padding: 30px;
}

.attention {
  color: red;
}

.info-class-id {
  color: red;
  font-size: 70px;
}

.chat-image {
  width: 50px;
}