.message-display {
  height: calc(100vh - 250px);
  padding: 10px 10px;
  overflow: scroll;
}
.message-box {
  height: 150px;
  background-color: skyblue;
  padding: 10px;
}
.content {
  height: 50px;
  width: calc(100vw - 50px);
}
.partners-messages, .my-messages {
  margin: 10px;
  width: 40vw;
}
.my-messages {
  margin: 0 0 0 auto;
}

.upper-message {
  display: flex;
}

.my-upper-message {
  display: flex;
  justify-content: right;
}

.message-user {
  margin-right: 20px;
  font-size: 20px;
}

.message-date {
  font-size: 12px;
  padding-top: 20px;
}

.lower-message {
  display: inline-block;
  
}

.message-content, .my-message-content {
  display: flex;
  flex-direction: column;
  background-color: #e1f1e7;
  border: steelblue 2px solid;
  overflow-wrap: break-word;
  border-radius: 20px;
}

.message-image {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.image {
  display: inline;
}

.image:hover {
  cursor: pointer;
}

.message-send {
  float: right;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: lightblue;
  margin: 15px;
}

.message-send:hover{
  background-color: rgb(193, 229, 241);
  cursor: pointer;
}

.delete {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin-left: 7px;
  text-decoration: black;
  margin-top: 3px;
}

.delete:hover{
  cursor: pointer;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}