<!DOCTYPE html>
<html>
  <head>
    <title>Clafu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Amatic+SC:wght@700&family=Anton&family=Bangers&family=Caveat&family=Cherry+Swash:wght@700&family=Corben:wght@700&family=Creepster&family=Economica:wght@700&family=Homemade+Apple&family=IM+Fell+DW+Pica+SC&family=Kaushan+Script&family=Londrina+Shadow&family=Montserrat+Subrayada&family=Oswald:wght@700&family=Permanent+Marker&family=Quicksand&family=Roboto+Condensed:wght@700&family=Teko&family=Vollkorn&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
